body{
    background: black;
}
.post{
    background: white;
    margin: 1.5cm 14cm; 
    width: 460px;
    height: 620px;
}
.post-header{
    display: flex;
    width: 460px;
    height: 60px;   
}
.html5-logo{
    width: 10px;
    margin: 3% 3%;
    font-size: 27px;
}
.header-text{
    width: 390px;
    font-size: 7px;
    font-family: 'Roboto';
    margin-top: 1%;
    margin-left: 1%;
}
.header-p{
    font-size: 13px;
    margin-top: -8px;
}
.points{
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 27px;
}

.post-img img{
    width: 460px;
    height: 340px;
}
.post-body{
    width: 460px;
    height: 200px;
}
.icons{
    display: flex;
    height: 1.3cm;
    margin: 3%;
    font-size: 30px;
}
.comment{
    margin-left: 2%;
}
.paper-plane{
    margin-left: 2%;
}
.bookmart{
    margin-left: 68%;
}
.body-p{
    margin: 3%;
    height: 1cm;
    text-align: justify;
    font-family: 'Roboto';
    font-size: 14px;
}